@model WEB.Models.PurchaseList

@{
    ViewBag.Title = "TimeAndDate";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>TimeAndDate</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DateModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.date, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}
@if (Model != null)
{<table>
        <a> Statistics: </a>

        @for (int i = 0; i < Model.listOfProducts.Count; i++)
                {
            @:
            <tr></tr>
                    <td>
                        <lable>@Model.listOfProducts[i].ItemName</lable>
                        <lable>@Model.listOfProducts[i].ShopName</lable>
                        <lable>@Model.listOfProducts[i].Price</lable>
                        <lable>@Model.listOfProducts[i].Date.ToString("dd/MM/yyyy")</lable>
                    </td>
        }
    </table>
}
<div>
    @Html.ActionLink("Back to Settings", "Index")
</div>
