@model IEnumerable<WEB.Models.Discounts>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h2>Manage discounts</h2>
@using (Html.BeginForm())
{

    <p>
        <div class="col-md-offset-2 col-md-10">
            @Html.ActionLink("Show all discounts", "ViewDiscount") |
            @Html.ActionLink("Show current discounts", "ViewDiscountToday")
        </div>
    </p>
    <th>
        @Html.TextBox("Search", null, new { @class = "form-control", placeholder = "Type the name of a shop here...", style = "width:270px" })
    </th>
                        <th>
                            <a href="@Url.Action("Search")" data-form-method="post">
                                <input type="button" value="Search" class="btn btn-info ml-1" />
                            </a>
                        </th>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Shop.ShopName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceBefore)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceAfter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MoreInfo)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Shop.ShopName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Discount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceBefore)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceAfter)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MoreInfo)
                </td>
                <td>
                    <a href="@Url.Action("Report")" data-form-method="post">
                        <input type="button" value="Search" class="btn btn-info ml-1" />
                    </a>
                </td>
                
            </tr>
        }

    </table>

}
<script>
    $("a[data-form-method='post']").click(function (event) {
        event.preventDefault();
        var element = $(this);
        var action = element.attr("href");
        element.closest("form").each(function () {
            var form = $(this);
            form.attr("action", action);
            form.submit();
        });
    });
</script>
