@model IEnumerable<WEB.Models.Top5Item>

@{
    ViewBag.Title = "Top5";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<ol class="breadcrumb">
	<li class="breadcrumb-item">
		<a href="#">Dashboard</a>
	</li>
	<li class="breadcrumb-item active">Top 5</li>
</ol>
@if (Model != null)
{
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfTimesBought)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheapestAt)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Item)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmountOfTimesBought)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CheapestAt)
                </td>
            </tr>
        }
    </table>
    <h4>It is best for you to shop in: @Html.Raw(ViewBag.Shop). If you buy these top 5 items, you`ll pay @Html.Raw(ViewBag.Price) for them </h4>
}

<h4>@Html.Raw(ViewBag.Warning)</h4>
