@model WEB.Models.Discounts

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutShopDashboard.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Discounts</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ItemName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceBefore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceBefore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriceAfter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriceAfter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoreInfo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoreInfo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ItemId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
